* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body,
button,
input[type="text"] {
    font-family: 'Lato', sans-serif;
}

.toolbar {
    padding: 1rem;
    height: 4rem;
}

label {
    text-transform: uppercase;
    vertical-align: middle;
}

input[type="text"] {
    padding: 0.5rem 1rem;
    border: solid 1px lightgray;
    border-radius: 3px;
}

button {
    appearance: none;
    background-color: teal;
    color: white;
    padding: 0.5rem 1rem;
    border: solid 1px darkcyan;
    border-radius: 3px;
}

.map {
    height: calc(100% - 4rem);
    width: 100%;
}

.toolbar__label {
    margin-right: 1rem;
    text-transform: uppercase;
    vertical-align: middle;
}

.advancedSearch {
    padding: 0 1rem;
}

.advancedSearch__btn {
    margin-left: 1rem;
}

.infowindow {
    padding: 1rem;
}

.infowindow__img {
    float: right;
    max-width: 50%;
    margin: 0 0 1rem 1rem;
    max-height: 80vh;
}

.infowindow__label {
    font-weight: bold;
}

.infowindow__content {
    margin-bottom: 1em;
}