:root {
    --toolbar-height: 6rem;
}

.visuallyHidden {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

fieldset {
    border: none;
}

body,
button,
input[type="text"] {
    font-family: 'Lato', sans-serif;
}

.toolbar {
    padding: 1rem;
    height: var(--toolbar-height);
}

label {
    text-transform: uppercase;
    vertical-align: middle;
}

input[type="text"] {
    padding: 0.5rem 1rem;
    border: solid 1px lightgray;
    border-radius: 3px;
}

button {
    appearance: none;
    background-color: teal;
    color: white;
    padding: 0.5rem 1rem;
    border: solid 1px darkcyan;
    border-radius: 3px;
}

.map {
    height: calc(100% - var(--toolbar-height));
    width: 100%;
}

.toolbar__label {
    margin-right: 1rem;
    text-transform: uppercase;
    vertical-align: middle;
}

.basicSearch {
    margin-bottom: 0.5rem;
}

.advancedSearch__btn,
.advancedSearch__select {
    margin-left: 1rem;
}

.infowindow {
    padding: 1rem;
}

.infowindow__img {
    float: right;
    max-width: 50%;
    margin: 0 0 1rem 1rem;
    max-height: 80vh;
}

.infowindow__label {
    font-weight: bold;
}

.infowindow__content:not(:last-child) {
    margin-bottom: 1em;
}